@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');
*{
    box-sizing: border-box;
    user-select: none;
    user-zoom: none;
    margin: 0;
    font-family: 'Trade Winds', cursive;
}

body {
    background-image: url(./lesik.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    transition: .2s;
}
@font-face {
    font-family: deathfont;
    src: url(./font/deathfont.otf);
}

#dialog {
    font-family: deathfont;
    src: url(deathfont.otf);
    font-size: 30px;
    color:  black;
    display: none;
    position: absolute;
    top: 350px;
    max-width: 350px;
    padding-left: 5px;
    padding-right: 5px;
}
#ded {
    width: 100%;
    text-align: center;
}

#again {
    margin: 0 auto;
    background: linear-gradient(white, beige, red);
    border: 2px solid black;
display: none;
    font-size: 50px;
    cursor: pointer;
    top: 360px;
    position: relative;
    transition: .1s;
}
#again:hover {
    background: linear-gradient(white, beige, green);
    transition: .1s;
}
#pls {
    text-decoration: none;
}

#grave {
    max-width: 300px;
    top: 450px;
    margin: 0 auto;
    display: none;
    position: relative;
}

#sponsors {
    position: absolute;
    background: linear-gradient(white, beige, burlywood);
    bottom: 0px;
    color: black;
    text-decoration: none;
    margin: 5px;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px black solid;
}

#menu {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#menunadpis {
    max-width: 400px;
    margin-top: 300px;
    transition: 1s ease-in-out;
}
#menunadpis:hover {
    max-width: 450px;
    transition: 1s ease-in-out;
    cursor: pointer;
}

#nadpis {
margin: 0 auto;
position: relative;
max-width: 500px;
    display: none;
}

#portal {
    display: none;
    position: absolute;
    max-width: 300px;
    bottom: 40px;
    cursor: pointer;
}

#portal2 {
    display: none;
    position: absolute;
    max-width: 200px;
    top: 0px;
    cursor: pointer;
}

#hrathell {
    max-width: 50px;
    position: absolute;
    top: 0px;
    right: 0%;
    margin: 5px;
    display: none;
    cursor: pointer;
}
#pausehell {
    max-width: 50px;
    position: absolute;
    top: 0px;
    right: 0%;
    margin: 5px;
    display: none;
    cursor: pointer;
}
#hellcat {
    position: relative;
    display: none;
    max-width: 140px;
    top: 630px;
    left: 10%;
}
#grim {
    position: absolute;
    max-width: 350px;
    display: none;
    top: 400px;
}
#heart {
    max-width: 200px;
    margin: 0 auto;
    position: relative;
    display: none;
    top: -150px;
    cursor: pointer;
    transition: .1s;
    
}
#hpcat {
    position: absolute;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: green;
    display: none;
    left: 10%;
    top: 590px;
}
#heart:hover {
    max-width: 220px;
    transition: .1s;
}
#souls {
    position: absolute;
    background: linear-gradient(white, beige, red);
    bottom: 0px;
    color: black;
    text-decoration: none;
    margin: 5px;
    font-size: 30px;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px black solid;
    display: none;
    right: 0px;
}

#cat {
    max-width: 200px;
    display: none;
   margin: 0 auto;
   position: relative;
   top: 340px;
}


#catdva {
    max-width: 250px;
    display: none;
   margin: 0 auto;
   position: relative;
   top: 365px;
}
#catsleep {
    max-width: 250px;
}

#hrat {
    max-width: 50px;
    position: absolute;
    top: 0px;
    right: 0%;
    margin: 5px;
    display: none;
}
#hrat:hover{
    cursor: pointer;
}
#pauza {
    max-width: 50px;
    position: absolute;
    top: 0px;
    display: none;
    right: 0%;
    margin: 5px;
    display: none;
}
#pauza:hover{
    cursor: pointer;
}

#znacka {
    position: absolute;
    max-width: 140px;
    top: 650px;
    left: 5%;
    display: none;
}
#znacka:hover{
    cursor: pointer;
}
#znacka2:hover{
    cursor: pointer;
}
#znackadva:hover{
    cursor: pointer;
}
#sigmaznacka:hover{
    cursor: pointer;
}
#znackadojo {
    cursor: pointer;
}

#znacka2 {
    position: absolute;
    max-width: 140px;
    top: 450px;
    left: 5%;
    display: none;
}

#znackadva {
    position: absolute;
    max-width: 140px;
    top: 650px;
    right: 5%;
    display: none;
}

#catfight {
    display: none;
    position: absolute;
    top: 650px;
    max-width: 300px;
    right: 300px;
}
#enemy {
    max-width: 250px;
}

#cathero {
    display: none;
    top: 650px;
    left: 10%;
    position: absolute;
    max-width: 170px;
    transition: .1s;
}
#heroattack {
    display: none;
    top: 650px;
    left: 15%;
    position: absolute;
    max-width: 250px;
    transition: .1s;

}
#hero {
    max-width: 170px;
}

#bronze {
    margin: 0 auto;
    display: none;
    position: relative;
    top: 50px;
}

#hp {
    display: none;
    background-color: green;
    text-align: center;
    position: absolute;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    top: -80px;
    left: 80px;

}

#herohp {
    display: none;
    background-color: green;
    text-align: center;
    position: absolute;
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    top: -80px;
}

#hratfight {
    display: none;
    max-width: 50px;
    position: absolute;
    top: 0px;
    right: 0%;
    margin: 5px;
    cursor: pointer;
}
#pauzafight {
    display: none;
    max-width: 50px;
    position: absolute;
    top: 0px;
    right: 0%;
    margin: 5px;
    cursor: pointer;
}

#stat {
    display: none;
    position: relative;
    font-size: 30px;
    margin: 0 auto;
    width: 20%;
    top: 680px;
}

#hpstat {
    text-align: center;
    background-color: green;
}
#dmgstat {
    text-align: center;
    background-color: red;
}


#cat:hover {
    cursor: pointer;
}
#catdva:hover {
    cursor: pointer;
}

#pozadidva {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    display: none;
    text-align: center;
}

#sigmacat {
    max-width: 400px;
    width: 400px;
    height: 500px;
    position: relative;
    top: 420px;
    margin: 0 auto;
}
#sigmacat:hover {
    border: 1px solid white;
    cursor: pointer;
}

#pauzadva {
    max-width: 50px;
    position: absolute;
    top: 0px;
    right: 0%;
    margin: 5px;
}
#pauzadva:hover{
    cursor: pointer;
}
#hratdva {
    max-width: 50px;
    position: absolute;
    top: 0px;
    right: 0%;
    margin: 5px;
    display: none;
}
#hratdva:hover{
    cursor: pointer;
}

#esch {
    width: 420px;
    height: 570px;
    position: absolute;
    top: 285px;
    left: 400px;
}
#honza {
    width: 450px;
    height: 500px;
    position: absolute;
    top: 347px;
    right: 400px;
}

#counterjedna {
    text-align: center;
    font-size: 60px;
    width: 100%;
    display: none;
    position: absolute;
    top: 340px;
    color: white;
}

#sigmaznacka {
    position: absolute;
    max-width: 140px;
    left: 0%;
    margin: 20px;
}

#dojocat {
    display: none;
    margin: 0 auto;
    max-width: 300px;
    top: 670px;
    position: relative;
}
#dojocat:hover {
    border: 1px solid black;
    cursor: pointer;
}
#pls {
    text-decoration: none;
    color: black;
}

#wu {
    display: none;
    position: relative;
    top: 700px;
}

#dojopauza {
    display: none;
    max-width: 50px;
    position: absolute;
    top: 0px;
    right: 0%;
    margin: 5px;
}
#dojopauza:hover{
    cursor: pointer;
}
#dojohrat {
    display: none;
    max-width: 50px;
    position: absolute;
    top: 0px;
    right: 0%;
    margin: 5px;
}
#dojohrat:hover{
    cursor: pointer;
}
#counterdva {
    text-align: center;
    font-size: 60px;
    position: absolute;
    width: 100%;
    display: none;
    top: 600px;
}
#frank {
    display: none;
    max-width: 200px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
#cena {
    display: none;
    position: absolute;
    max-width: 200px;
    top: 250px;
    right: 0px;
}

#john {
    display: none;
    position: absolute;
    max-width: 250px;
    padding-left: 5px;
    padding-right: 5px;
    top: 450px;
    font-size: 25px;
    right: 5px;
    background: linear-gradient(white, beige, burlywood);
    border: 1px solid black;
}

#znackadojo {
    position: absolute;
    max-width: 140px;
    left: 0%;
    margin: 20px;
    display: none;
    top: 0px;
}

#fight {
    max-width: 300px;
    margin: 0 auto;
    display: none;
    position: relative;
    top: 100px;
    cursor: pointer;
}

#zpet {
    position: absolute;
    max-width: 140px;
    left: 0%;
    margin: 20px;
    display: none;
    top: 0px;
    cursor: pointer;
}
#skeleton {
    position: relative;
    display: none;
    max-width: 300px;
    margin: 0 auto;
    top: -400px;
}
#coffin {
    position: relative;
    display: none;
    max-width: 400px;
    margin: 0 auto;
    top: -360px;
}

#info2 {
    text-align: center;
    font-size: 30px;
    display: none;
    top: 370px;
    position: relative;
    font-size: 30px;
    
}
#info {
    font-size: 30px;
    background: linear-gradient(white, beige, burlywood);
    border: 2px solid black;
    position: absolute;
    margin: 5px;
    display: none;
    padding-left: 5px;
    padding-right: 5px;
}
#infodmg {
    font-size: 30px;
    background: linear-gradient(white, beige, burlywood);
    position: absolute;
    display: none;
    bottom: 5px;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
#infodmg2 {
    font-size: 30px;
    background-color: lightgray;
    border: 2px solid black;
    position: absolute;
    display: none;
    bottom: 5px;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
#infodmg3 {
    font-size: 30px;
    background: linear-gradient(white, beige, burlywood);
    border: 2px solid black;
    position: absolute;
    display: none;
    bottom: 5px;
    right: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
#fatality {
    display: none;
    position: relative;
    margin: 0 auto;
    max-width: 500px;
    top: 10px;
}

#nula, #jedna, #dva, #tri, #ctyri, #pet {
    display: none;
    text-align: center;
    position: relative;
    font-size: 50px;
    top: -50px;
    font-family: deathfont;
    src: url(deathfont.otf);
}
#sest {
    display: none;
    font-size: 50px;
    font-family: deathfont;
    src: url(deathfont.otf);
    color: red;
    position: absolute;
    bottom: 0px;
    right: 5px;

}


@media all and (max-width: 1600px) {

    #esch {
        width: 260px;
        height: 340px;
        left: -20px;
        top: 378px;
    }
    #honza {
        width: 250px;
        height: 300px;
        right: -20px;
        top: 413px;
    }

   
  }
  @media all and (max-width: 1200px) {
    #nadpis {
        max-width: 350px;
        position: relative;
        margin-top: 5px;
    }
    #cat {
        top: 400px;
    }
    #catdva {
        top: 420px;
    }
    #wu {
        margin-top: -550px;
    }
    #frank {
        top: 800px;
    }
    #catfight {
        right: 0px;
    }
    #cathero {
        left: 0px;
    }
    #stat {
        top: 640px;
        width: 30%;
    }
    #bronze {
        max-width: 350px;
    }
    #info2 {
        top: 310px;
    }
    #nadpis {
        top: 50px;
    }
    #sigmacat {
        top: 380px;
    }
    #counterjedna {
        top: 300px;
    }
    #portal {
        max-width: 150px;
        bottom: 100px;
    }
    #grim{
    right: 20%;
}
#dialog {
    right: 20%;
}

  }
  @media all and (min-width: 1200px) {
    #wu {
        margin-left: 200px;
        margin-top: -400px;
    }
    #cena {
        top: 350px;
        right: 150px;
        }
    #john{
        top: 550px;
        right: 150px;
    }
    #infodmg {
        margin-top: 70px;
    }
    #grim{
        right: 35%;
    }
    #dialog {
        right: 35%;
    }
    
    
  }
  @media all and (max-width: 700px) {
    #fatality {
        max-width: 220px;
        top: 40px;
    }
    #grim{
        right: 0%;
    }
    #dialog{
        right: 0%;
    }
  }

  @media all and (display-mode: fullscreen) {
    #esch {
        top: 360px;
    }
    #honza {
        top: 418px;
    }
    #sigmacat {
        top: 490px;
    }
    #counterjedna {
        top: 420px;
    }
    #fight {
        top: 200px;
    }


    #cat {
        top: 410px;
    }
    #catdva {
        top: 460px;
    }
    #znacka {
        top: 720px;
    }
    #znacka2 {
        top: 520px;
    }
    #znackadva {
        top: 720px;
    }
    #stat {
        top: 760px;
    }


    #dojocat {
        top: 800px;
    }
    #john {
        top: 600px;
    }
    #cena {
        top: 400px;
    }
    #counterdva {
        top: 730px;
    }



    #menunadpis {
        margin-top: 390px;
    }
  

    #cathero {
        top: 720px;
    }
    #catfight {
        top: 720px;
    }


    #hellcat {
        top: 730px;
    }
    #hpcat {
        top: 690px;
    }
    #grim {
        top: 500px;
    }
    #dialog {
        top: 450px;
    }
    #grave {
        top: 550px;
    }
    #again {
        top: 460px;
    }
    #skeleton {
        top: -300px;
    }
    #coffin {
        top: -260px;
    }
}