@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');
*{
    box-sizing: border-box;
    user-select: none;
    user-zoom: none;
    margin: 0;
    font-family: 'Trade Winds', cursive;
}

body {
    background-image: url(./lesik.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

#vojta {
    color: black;
    text-decoration: none;
}
#michaladamek {
    color: black;
    text-decoration: none;
}
#michalkostecky {
    color: black;
    text-decoration: none;
}
#michalsazka {
    color: black;
    text-decoration: none;
}
#ondra {
    color: black;
    text-decoration: none;
}
#dan {
    color: black;
    text-decoration: none;
}
a {
    font-size: 30px;
    margin: 0 auto;
    cursor: pointer;
    background: linear-gradient(white, beige, burlywood);
    margin: 20px;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px black solid;
}
#back {
    position: absolute;
    right: 0px;
    top: 0px;
    max-width: 140px;
    cursor: pointer;
    color: black;
    text-decoration: none;
}